<style type="text/css">
label.error {
	color: red;
	padding: 3px 10px;
}
span.required { 
	color: red; 
}
</style>
<form id="loginForm" action="${appServer}/login.htm" method="post">
    <table>
        <tr>
            <th><span class="required">*</span>ĞÕÃû£º</th>
            <td>
                #springBind("user.realName")
                <input type="text" id="realName" name="${status.expression}" value="$!{status.value}" />
				<label class="error">${status.errorMessage}</label>
            </td>
		</tr>
		<tr>
            <th><span class="required">*</span>¿ÚÁî£º</th>
            <td>
                #springBind("user.password")
                <input type="text" id="password" name="${status.expression}" value="" />
				<label class="error">${status.errorMessage}</label>
            </td>
		</tr>
		<tr>	
            <th>
                <input type="submit" value="µÇÂ¼" />
            </th>
        </tr>
    </table>
</form>
