#if($agent)
	当前登录用户名字:$!{agent.realName}<br/>
	当前登录用户登录时间:$!{agent.loginTime}<br/>
	当前登录用户省:$!{agent.province}<br/>
	当前登录用户市:$!{agent.city}<br/>
#else
	当前用户未登录<a href="$!{appServer}/login.htm">登录</a>
#end
$UC.isLogin($agent)
#if($UC.isLogin($agent))
		你已经登录成功啦！！
	#else
		还没有登录哦！
	#end